<% content_for :title do %>
	Add a new Post
<% end %>

<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<form role="form">
	<div class="form-group">
		<label for="username">Username:</label>
		<input name="username" class="form-control" type="text"></input>
	</div>

	<div class="form-group">
		<label for="post-text">Post:</label>
		<textarea name="post-text" class="form-control"></textarea>
	</div>

	<button type="submit" class="btn btn-primary">Create Post</button>
</form>	